@model IEnumerable<ContactFormModel>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Liste des contacts</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Pseudo)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ContactFormModel c in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => c.Email)
                </td>
                <td>
                    @c.Pseudo
                </td>
                <td>
                    <a asp-action="Detail" asp-controller="Home" asp-route-email="@c.Email" class="btn btn-outline-info">Détails</a>
                    <a asp-action="Update" asp-controller="Home" asp-route-email="@c.Email" class="btn btn-outline-warning">Mettre à jour</a>
                    <a asp-action="Delete" asp-controller="Home" asp-route-email="@c.Email" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

